.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 1000;
    transition: all 0.5s;
}

.modal {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(193, 192, 188);
    border-radius: 10px;
    box-shadow: 4px;
    padding: 3.2rem 3rem;
    transition: all 0.5s;
    background-color: rgb(238, 238, 235);
    width: 500px;
}

@media (max-width: 500px) {
    .modal {
        width: 95vw;
        padding: 1rem 1rem;
    }
}
.closingBtn {
    background: none;
    border: none;
    padding: 0.4rem;
    border-radius: 5px;
    transform: translateX(0.8rem);
    transition: all 0.2s;
    position: absolute;
    top: 1.2rem;
    right: 1.9rem;
    cursor: pointer;
}

.closingBtn:hover {
    background-color: #f3f4f6;
}
