.App {
  text-align: center;
  padding: 20px;
  background-color: rgb(235, 240, 235);
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}

#img_belejnik {
  max-height: 50vh;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.btn-general {
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-style: bold;
}

.zabelejka {
  border: 1px solid black;
  border-radius: 10px;
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.input {
  margin-top: 20px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 1.3rem;
 
}

textarea {
  font-size: 1.3rem;
}