.App {
  text-align: center;
  padding: 20px;
  background-color: rgb(235, 240, 235);
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}

#img_belejnik {
  max-height: 50vh;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.btn-general {
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
}

.zabelejka {
  border: 1px solid black;
  border-radius: 10px;
  list-style-type: none;
  margin-bottom: 10px;
}